{% extends 'base.html.twig' %}

{% block body %}
  {{ dump(app.request.attributes) }}
    <div id="wrapper">
        <div id="container">
            <h2>Bot Players</h2>
        </div>    
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Bot Name</th>
              <th>Speed</th>
              <th>Strength</th>
              <th>Agility</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            {% set total_score = 0 %}
            {% for bot in bots %}
                <tr>
                  <td>{{ bot.name }}</td>
                  <td>{{ bot.speed }}</td>
                  <td>{{ bot.strength }}</td>
                  <td>{{ bot.agility }}</td>
                  <td>{{ bot.score }}</td>
                </tr>
            {% set total_score = total_score + bot.score %}
            {% endfor %}
            <tr class="alert alert-info" role="alert">
                  <td>TEAM SCORE</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td >{{ total_score }}</td>
            </tr>
          </tbody>
        </table>
    </div>

    <div id="wrapper">
        <div id="container">
            <h2>Substitute Players</h2>
        </div>    
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Bot Name</th>
              <th>Speed</th>
              <th>Strength</th>
              <th>Agility</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            {% for substitute in substitutes %}
                <tr>
                  <td>{{ substitute.name }}</td>
                  <td>{{ substitute.speed }}</td>
                  <td>{{ substitute.strength }}</td>
                  <td>{{ substitute.agility }}</td>
                  <td>{{ substitute.score }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
